<html ng-app="oceansWeb">
<head>
    <link href="bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="main.css" type="text/css" rel="stylesheet">
    <script src="angular.min.js"></script>
    <script src="angular-route.min.js"></script>
</head>
<body class="container">
    <div class="header">
        <a class="title" href="#!/" ng-click="showMain"><h1>Oceans</h1></a>
        <p class="lead">Election and Voter Dashboard</p>
        <h2>
            <a href="#!/voter" ng-click="showVoter">Voter Registration</a>
            <a href="#!/election" ng-click="showElection">Election Management</a>
        </h2>
    </div>
    <div ng-view></div>
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="main.js"></script>
</body>
</html>