a, a:hover, a:active, a:focus {
    color: black;
}

#header, .row-stats {
    text-align: center;
}

#header {
    margin-bottom: 50px;
}

#header > h3 > a {
    margin: 0 20px;
}

#title {
    text-decoration: none !important;
}

.row-stats p {
    font-size: 30px;
    font-weight: 400;
}

.row-stats > div {
    margin-top: 20px;
}

.stat-success {
    color: #5cb85c;
}
