a, a:hover, a:active, a:focus {
    color: black;
}

body {
    padding-bottom: 100px;
}

#header, .row-stats {
    text-align: center;
}

#header {
    margin-bottom: 50px;
}

#header > h3 > a {
    margin: 0 20px;
}

#title {
    text-decoration: none !important;
}

#resetQR {
    position: fixed;
    top: 5px;
    right: 5px;
}

.row-stats p {
    font-size: 30px;
    font-weight: 400;
}

.row-stats > div {
    margin-top: 20px;
}

.stat-success {
    color: #5cb85c;
}

#qrcode img {
    display: inline !important;
    width: 400px;
    height: 400px;
}