<div class="row container">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <form>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="firstName" class="col-form-label-lg">First Name</label>
                    <input type="text" id="firstName" class="form-control form-control-lg" ng-model="voterFirstname">
                </div>
                <div class="form-group col-sm-6">
                    <label for="lastName" class="col-form-label-lg" >Last Name</label>
                    <input type="text" id="lastName" class="form-control form-control-lg" ng-model="voterLastname">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-3"></div>
                <div class="form-group col-sm-6">
                    <label for="ssn" class="col-form-label-lg" >Social Security Number</label>
                    <input type="text" id="ssn" class="form-control form-control-lg" ng-model="voterSSN"><br>
                    <button class="btn btn-success" ng-click="submitForm()">Register Voter</button>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>